In [2]:
import pandas as pd
import numpy as np

**Reading the file**

We pass to read the file of interest with the help of open

In [46]:
with open(r'.\books.csv', encoding='utf8') as f:
    list_file = f.readlines()

Once read, all the lines of the file will be store in a list

In [47]:
list_file[0:3]

['bookID,title,authors,average_rating,isbn,isbn13,language_code,  num_pages,ratings_count,text_reviews_count,publication_date,publisher\n',
 '1,Harry Potter and the Half-Blood Prince (Harry Potter  #6),J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.\n',
 '2,Harry Potter and the Order of the Phoenix (Harry Potter  #5),J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.\n']

In [48]:
#cheking the number of records

len(list_file)

11128

As we can see the numbers of elements in the list are the same that the number of records in the file, with this we ensure that we have every record.

**Storing the data in a dataframe**

In here we store the list inside a dataframe.

Notice that all fields will be store inside a single column

In [49]:
data_read = pd.DataFrame({'all':list_file})

In [50]:
# Check the dataframe

data_read.head()

                                                 all
0  bookID,title,authors,average_rating,isbn,isbn1...
1  1,Harry Potter and the Half-Blood Prince (Harr...
2  2,Harry Potter and the Order of the Phoenix (H...
3  4,Harry Potter and the Chamber of Secrets (Har...
4  5,Harry Potter and the Prisoner of Azkaban (Ha...

In [51]:
# Check for the number of records

data_read.shape

(11128, 1)

**Finding the bad lines**

So we want to know how many records have the problem of having more than eleven comma as read_csv function point it out previously.

Hence, those records will not consistence with the number of fields or columns that have the data, which is twelve.

With a extra , pandas or bit.io understand that for that record should be thriteen fields instead of 12

In [52]:
data_read['count'] = data_read['all'].apply(lambda x: x.count(','))

Puedes hacer que te saque la primera columna, los header en un excel con la estructura de bd que necesita (longitud), descrip, etc

As a sanity check, we can save in a variable the number of commas that it have the header row

In [53]:
data_read.head(3)

                                                 all  count
0  bookID,title,authors,average_rating,isbn,isbn1...     11
1  1,Harry Potter and the Half-Blood Prince (Harr...     11
2  2,Harry Potter and the Order of the Phoenix (H...     11

In [54]:
# Save of the expected number of commas in all the rows in the file

expected_commas = data_read['count'][0]

So we filter with bechmark to get the bad lines

In [55]:
trouble_records = data_read.loc[data_read['count'] > expected_commas]

In [56]:
trouble_records.shape

(3, 2)

In [57]:
trouble_records

                                                    all  count
4703  16914,The Tolkien Fan's Medieval Reader,David ...     12
5878  22128,Patriots (The Coming Collapse),James Wes...     12
8980  34889,Brown's Star Atlas: Showing All The Brig...     12

Then we add the expecific index value

In [58]:
trouble_records = trouble_records.reset_index()

In [59]:
# we add 1 so it will start from 1 instead of 0

trouble_records['index'] = trouble_records['index'].apply(lambda x: x + 1)

Finally we get the bad records, so we can inspect it in detail to see what it is wrong

In [60]:
trouble_records

   index                                                all  count
0   4704  16914,The Tolkien Fan's Medieval Reader,David ...     12
1   5879  22128,Patriots (The Coming Collapse),James Wes...     12
2   8981  34889,Brown's Star Atlas: Showing All The Brig...     12

In [62]:
data = pd.read_csv(r'C:\Users\quebr\Documents\books.csv\books.csv', sep=',')